@using Model;
<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="/">首页</a>
                </li>
                <li class="active">系统用户</li>
            </ul>
            <!-- /.breadcrumb -->
            <!-- /.nav-search -->
        </div>
        <div class="page-content">
            <!-- /放搜索控件 -->
            <div class="col-xs-5">
                <div class="input-group">
                    <span class="input-group-addon">
                        <i class="ace-icon fa fa-check"></i>
                    </span>

                    <input type="text" class="form-control search-query" id="txtkeyword" placeholder="搜索" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-purple btn-sm" onclick="search()">
                            <span class="ace-icon fa fa-search icon-on-right bigger-110"></span> 查询
                        </button>
                    </span>
                </div>
            </div>
            <div class="col-xs-7">
                <div class="input-group pull-right">
                    <span class="input-group-btn">
                        <a class="btn btn-success btn-sm pull-right" href="javascript:void(0)" onclick="edit('/sysuser/sysuserInfo')">
                            <span class="ace-icon fa fa-pencil-square-o icon-on-right bigger-110"></span> 新增
                        </a>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12">

                            <div class="clearfix">
                                <div class="pull-right tableTools-container"></div>
                            </div>


                            <!-- div.table-responsive -->
                            <!-- div.dataTables_borderWrap -->
                            <div>
                                	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th>序号</th>
				<th>登陆用户名</th>
				<th>密码</th>
				<th>操作</th>

			</tr>
		</thead>
		<tbody>
			@{
				var sysuserList = ViewBag.list as List<tb_sysuser>;
				 if (sysuserList != null && sysuserList.Count > 0)
				{
					for (int i = 0; i < sysuserList.Count; i++)
					{
						<tr>
							<td>@(i+1)</td>
							<td>@sysuserList[i].username</td>
							<td>@sysuserList[i].password</td>
							<td>
								<div class="hidden-sm hidden-xs action-buttons">
									<a class="green" href="javascript: void(0)" onclick="edit('/sysuser/sysuserInfo?id=@sysuserList[i].id')" ><i class="ace-icon fa fa-pencil bigger-130"></i>编辑</a>
									<a class="red" href="javascript: void(0)" onclick="del('/sysuser/sysuserDelete?id=@sysuserList[i].id')" ><i class="ace-icon fa fa-trash-o bigger-130"></i>删除</a>
								</div>
							</td>
						</tr>
					}
				}
			}

		</tbody>
	</table>

                            </div>

                            <div class="modal-footer no-margin-top">
                                @Html.Raw(ViewBag.page)
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- PAGE CONTENT ENDS -->
            </div>
        </div>

        <!-- /.row -->
    </div>
    <!-- /.page-content -->
</div>
<script>
    function del(url) {
        if (!confirm("确认删除？")) {
            return false;
        }
        $.post(url, null, function (data) {
            if (data == "True") {
                window.location.reload();
            } else {
                alert("删除失败！")
            }
        });
        return false;
    }
    function edit(url) {
        window.location.href = url;
    }
    function search() {
        var params = $("form").serializeArray();
        var values ="";  
        for (x in params) {
            values+="&"+params[x].name+"="+ params[x].value;
        }
        window.location.href = window.location.pathname + "?" + values;
    }
</script>